<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br><br>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <div class="mb-3">
        <label for="title" class="form-label mb-0">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          value="<%= listing.title %>"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label mb-0">Description</label>
        <textarea
          type="text"
          rows="2"
          class="form-control"
          name="listing[description]"
        >
<%= listing.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label mb-0">Enter image URL/link</label>
        <input
          type="text"
          name="listing[image]"
          class="form-control"
          value="<%= listing.image.url %>"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label mb-0">Price</label>
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            value="<%= listing.price %>"
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label mb-0">Country</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            value="<%= listing.country %>"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label mb-0">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          value="<%= listing.location %>"
        />
      </div>
      <button class="btn btn-dark mb-3 edit-btn">Edit</button>
    </form>
  </div>
</div>
